/*logo do projeto*/
.logo{
  width: 35%;
  height: 100%;
  margin-left: 140px;
  margin-top: -5px;
}

/*icones do rodape*/
.casa{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.terra{
  margin-left: 80px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.perfil{
  margin-left: 90px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.icone{
  width: 15%;
  height: 85%;
}

/*rodape*/
footer{
  background-color: Limegreen;
  margin-top: 20px;
  margin-left: -15px;
  width: 115%;
  height: 90px;
  display: block;
  position: absolute
}

/*eventos*/
.botao {
  background-color: Limegreen;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 91%;
  border: none;
  text-align: left;
  outline: none;
  margin-left: 20px;
  border-radius: 20px;
  height: 90%;
}
h3,h5{
  color: white;
}
.active, .botao:hover {
  background-color: rgb(45, 179, 45);
}

/*imagem de exempo do evento*/
.exemplo{
  width: 50%;
  height: 50%;
}
.jumbotron{
  margin-left: 20px;
  width: 91%;
   background-color: Limegreen;
}